* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #333030;
}

header h3 {
  font-size: 40px;
}

header h3 a {
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 3px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

header h3 a:hover {
  opacity: 0.8;
  color: #2dd690;
  cursor: pointer;
}

header .navigation {
  position: fixed;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-name: opacity;
          animation-name: opacity;
}

header .navigation img {
  margin-left: 40px;
  width: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navigation img:hover {
  opacity: 0.7;
  width: 31px;
}

header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .navigation ul a {
  font-family: "Montserrat", sans-serif;
  margin-left: 40px;
  font-size: 20px;
  color: #ffffff;
  position: relative;
  text-decoration: none;
  letter-spacing: 1.1px;
}

header .navigation ul a:hover {
  opacity: 0.6;
}

header .navigation ul a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #2dd690;
  position: absolute;
  bottom: -20%;
  left: 0%;
  border-radius: 10px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

header .navigation ul a:hover::after {
  left: 0%;
  width: 100%;
}

.content {
  padding: 15% 10% 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: #333030;
}

.content h2 {
  color: #dadada;
  position: absolute;
  top: 25%;
  left: 2%;
  opacity: 0.1;
  font-size: 135px;
  letter-spacing: 15px;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: slideinL;
          animation-name: slideinL;
}

.content .boxL {
  max-width: 650px;
}

.content .boxL h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #cac9c9;
  font-weight: lighter;
  margin-bottom: 40px;
  letter-spacing: 10px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slideinL;
          animation-name: slideinL;
}

.content .boxL h1 strong {
  color: #2dd690;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

.content .boxL p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #cac9c9;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-name: slideinL;
          animation-name: slideinL;
}

.content img {
  width: 400px;
  margin-left: 100px;
  opacity: 0.6;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-name: slideinR;
          animation-name: slideinR;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideinL {
  from {
    margin-left: 100%;
    width: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideinL {
  from {
    margin-left: 100%;
    width: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes slideinR {
  from {
    margin-left: -100%;
    width: 100px;
    opacity: 0;
  }
  to {
    width: 450px;
  }
}

@keyframes slideinR {
  from {
    margin-left: -100%;
    width: 100px;
    opacity: 0;
  }
  to {
    width: 450px;
  }
}

.workCont {
  min-height: 100vh;
  background: linear-gradient(177deg, #c9c9c9 0%, white 100%);
}

.workCont h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #252525;
  position: absolute;
  z-index: 0;
  top: 107%;
  left: 25%;
  opacity: 0.3;
  font-size: 135px;
  letter-spacing: 15px;
}

.workCont .project {
  padding-top: 5%;
  height: 400px;
  z-index: 1;
  width: 80%;
  margin: auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.workCont .project h4 {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  color: #353535;
  margin: 35px 0 15px 0;
}

.workCont .project img {
  width: 350px;
  height: 250px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.workCont .project img:hover {
  opacity: 0.8;
  width: 380px;
  height: 280px;
}

@media only screen and (max-width: 1240px) {
  .content {
    padding-top: 27%;
  }
  .content img {
    margin: 14px 0 0 0;
    width: 350px;
  }
  .content h2 {
    top: 20%;
    left: 8%;
  }
  .content .boxL {
    width: 500px;
  }
  .content .boxL h1 {
    font-size: 30px;
  }
  .content .boxL h1 strong {
    font-size: 30px;
  }
  .workCont h2 {
    left: 8%;
  }
  .workCont .project {
    padding-top: 120px;
    text-align: center;
  }
  .workCont .project h4 {
    font-size: 30px;
  }
  .workCont .project img {
    width: 250px;
  }
  @-webkit-keyframes slideinR {
    from {
      margin-left: -100%;
      width: 100px;
      opacity: 0;
    }
    to {
      max-width: 400px;
    }
  }
  @keyframes slideinR {
    from {
      margin-left: -100%;
      width: 100px;
      opacity: 0;
    }
    to {
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding-top: 20%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .content img {
    margin: auto;
    width: 400px;
  }
  .content h2 {
    font-size: 100px;
    top: 7%;
    left: 8%;
  }
  .content .boxL {
    width: 500px;
  }
  .content .boxL h1 {
    font-size: 30px;
  }
  .content .boxL h1 strong {
    font-size: 30px;
  }
  .workCont h2 {
    left: 8%;
    font-size: 105px;
  }
  .workCont .project {
    padding-top: 180px;
    text-align: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .workCont .project img {
    width: 270px;
    max-height: 200px;
  }
}

@media only screen and (max-width: 768px) and (max-width: 428px) {
  .navigation .gitHub {
    position: absolute;
    top: 20%;
    right: -4%;
  }
  .navigation .gitHub img {
    width: 20px;
  }
  .navigation h3 {
    font-size: 20px;
    margin-left: -30px;
  }
  .navigation nav {
    position: absolute;
    top: 5px;
    margin-left: 30px;
  }
  .navigation nav li a {
    font-size: 13px;
    margin: 0 10px;
  }
  .content {
    width: 100vw;
    padding-top: 30%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .content img {
    margin-left: -10px;
    width: 300px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: -60px;
  }
  .content h2 {
    font-size: 70px;
    top: 3%;
    left: 3%;
  }
  .content .boxL {
    width: 400px;
    padding-right: 30px;
  }
  .content .boxL p {
    margin-left: -10px;
  }
  .content .boxL h1 {
    font-size: 26px;
  }
  .content .boxL h1 strong {
    font-size: 30px;
  }
  .workCont {
    min-height: 1800px;
  }
  .workCont h2 {
    left: 8%;
    font-size: 70px;
    width: 80%;
  }
  .workCont .project {
    padding-top: 180px;
    text-align: center;
    width: 100%;
    margin: auto;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-top: 170px;
  }
  .workCont .project img {
    width: 350px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media only screen and (max-width: 375px) {
  .navigation .gitHub {
    position: absolute;
    top: 20%;
    right: -7%;
  }
  .navigation .gitHub img {
    width: 20px;
  }
  .navigation h3 {
    font-size: 20px;
    margin-left: -30px;
  }
  .navigation nav {
    position: absolute;
    top: 5px;
    margin-left: 0px;
  }
  .navigation nav li a {
    font-size: 13px;
    margin: 0 10px;
  }
  .content {
    width: 100vw;
    padding-top: 30%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .content img {
    margin-left: -10px;
    width: 300px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: -10px;
  }
  .content h2 {
    font-size: 70px;
    top: 3%;
    left: 3%;
  }
  .content .boxL {
    width: 330px;
    padding-right: 30px;
  }
  .content .boxL p {
    margin-left: -10px;
  }
  .content .boxL h1 {
    font-size: 22px;
  }
  .content .boxL h1 strong {
    font-size: 30px;
  }
  .workCont {
    min-height: 1600px;
  }
  .workCont h2 {
    left: 8%;
    font-size: 70px;
    width: 80%;
  }
  .workCont .project {
    padding-top: 180px;
    text-align: center;
    width: 100%;
    margin: auto;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-top: 170px;
  }
  .workCont .project img {
    width: 320px;
    max-height: 340px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*# sourceMappingURL=style.css.map */