* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(51, 48, 48);

  h3 {
    font-size: 40px;
    a {
      font-family: "Open Sans Condensed", sans-serif;
      letter-spacing: 3px;
      color: #ffffff;
      text-decoration: none;
      transition: 1s;
      &:hover {
        opacity: 0.8;
        color: #2dd690;
        cursor: pointer;
      }
    }
  }
  .navigation {
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-duration: 7s;
    animation-name: opacity;
    img {
      margin-left: 40px;
      width: 30px;
      transition: 0.3s;

      &:hover {
        opacity: 0.7;
        width: 31px;
      }
    }
    ul {
      display: flex;
      list-style: none;
      a {
        font-family: "Montserrat", sans-serif;
        margin-left: 40px;
        font-size: 20px;
        color: #ffffff;
        position: relative;
        text-decoration: none;
        letter-spacing: 1.1px;
        &:hover {
          opacity: 0.6;
        }
        &::after {
          content: "";
          width: 0%;
          height: 2px;
          background: #2dd690;
          position: absolute;
          bottom: -20%;
          left: 0%;
          border-radius: 10px;
          transition: all 0.7s;
        }
        &:hover::after {
          left: 0%;
          width: 100%;
        }
      }
    }
  }
}

////////////////////////////////////////////////////CONTENT
.content {
  padding: 15% 10% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: rgb(51, 48, 48);
  h2 {
    color: #dadada;
    position: absolute;
    top: 25%;
    left: 2%;
    opacity: 0.1;
    font-size: 135px;
    letter-spacing: 15px;
    animation-duration: 2.5s;
    animation-name: slideinL;
  }
  .boxL {
    max-width: 650px;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      color: #cac9c9;
      font-weight: lighter;
      margin-bottom: 40px;
      letter-spacing: 10px;
      animation-duration: 3s;
      animation-name: slideinL;
      strong {
        color: #2dd690;
        font-family: "Oswald", sans-serif;
        font-size: 50px;
      }
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      color: #cac9c9;
      animation-duration: 3.5s;
      animation-name: slideinL;
    }
  }
  img {
    width: 400px;
    margin-left: 100px;
    opacity: 0.6;
    animation-duration: 3.5s;
    animation-name: slideinR;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideinL {
  from {
    margin-left: 100%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideinR {
  from {
    margin-left: -100%;
    width: 100px;

    opacity: 0;
  }

  to {
    width: 450px;
  }
}

////////////////////////////////////////////////////MY WORK
.workCont {
  height: 100vh;

  background: linear-gradient(
    177deg,
    rgb(201, 201, 201) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  h2 {
    width: fit-content;
    color: #252525;
    position: absolute;
    z-index: 0;
    top: 107%;
    left: 25%;
    opacity: 0.3;
    font-size: 135px;
    letter-spacing: 15px;
  }
  .project {
    padding-top: 5%;
    position: relative;
    height: 400px;
    z-index: 1;
    width: 80%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    h4 {
      font-size: 40px;
      font-family: "Oswald", sans-serif;
      color: #353535;
      margin: 35px 0 15px 0;
    }
    img {
      width: 350px;
      height: 250px;
      transition: 0.6s;

      &:hover {
        opacity: 0.8;
        width: 380px;
        height: 280px;
      }
    }
  }
}

////////////////////////////////////////////////////CONTACT
.contactCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  background-color: rgb(51, 48, 48);
  h1 {
    width: fit-content;
    color: #ebebeb;
    position: absolute;
    z-index: 0;
    top: 210%;
    right: 25%;
    opacity: 0.3;
    font-size: 135px;
    letter-spacing: 15px;
  }
  .contL {
    margin-top: 20%;
    margin-left: 18%;
    z-index: 2;
    h2 {
      font-size: 80px;

      color: #2dd690;
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      margin-left: 11%;
      input {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 16px;
        height: 30px;
        width: 400px;
        margin-bottom: 20px;
        border-radius: 25px;
        background-color: #353535;
        border: 1px solid #2dd690;
        color: #ffffff;
      }
      button {
        width: 400px;
        height: 50px;
        background-color: #2dd690;
        border: none;
        font-size: 18px;
        border-radius: 25px;
        transition: 0.6s;
        cursor: pointer;
        &:hover {
          width: 410px;
        }
      }
      textarea {
        width: 400px;
        background-color: #353535;
        border: 1px solid #2dd690;
        margin-bottom: 20px;
        font-size: 16px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
      }
    }
  }
  .contR {
    img {
      width: 50px;
      margin: 15px 0;
      transition: all 0.4s;
      &:hover {
        opacity: 0.6;
        width: 53px;
      }
    }
    .social {
      margin-top: 33%;
      display: flex;
      flex-direction: column;
      .soc {
        display: flex;
        align-items: center;
        p {
          margin-left: 35px;
          font-size: 27px;
          color: #f0f0f0;
          border-bottom: 1px solid #cac9c9;
          letter-spacing: 4px;
        }
      }
    }
  }
}

//MEDIA QUERY
@media only screen and (max-width: 1240px) {
  ////////////////////////////ABOUT ME
  .content {
    padding-top: 27%;
    img {
      margin: 14px 0 0 0;
      width: 350px;
    }
    h2 {
      top: 20%;
      left: 8%;
    }
    .boxL {
      width: 500px;
      h1 {
        font-size: 30px;
        strong {
          font-size: 30px;
        }
      }
    }
  }

  ////////////////////////////MY WORK
  .workCont {
    h2 {
      left: 8%;
    }
    .project {
      padding-top: 120px;
      text-align: center;
      h4 {
        font-size: 30px;
      }
      img {
        width: 250px;
      }
    }
  }

  ////////////////////////////CONTACT
  .contactCont {
    h1 {
      left: 8%;
    }
    .contL {
      h2 {
        margin-top: 140px;
        font-size: 50px;
      }
      form {
        margin-left: -10px;
      }
    }
    .contR {
      margin: 140px 20px 0 20px;
      img {
        width: 35px;
      }
    }
    .social {
      .soc {
        p {
          font-size: 25px;
        }
      }
    }
  }

  @keyframes slideinR {
    from {
      margin-left: -100%;
      width: 100px;

      opacity: 0;
    }

    to {
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 768px) {
  ////////////////////////////ABOUT ME
  .content {
    padding-top: 20%;
    display: grid;
    grid-template-columns: 1fr;

    img {
      margin: auto;
      width: 400px;
    }
    h2 {
      font-size: 100px;
      top: 7%;
      left: 8%;
    }
    .boxL {
      width: 500px;
      h1 {
        font-size: 30px;
        strong {
          font-size: 30px;
        }
      }
    }
  }

  ////////////////////////////MY WORK
  .workCont {
    h2 {
      left: 8%;
      font-size: 105px;
    }
    .project {
      padding-top: 180px;
      text-align: center;
      img {
        width: 150px;
        max-height: 340px;
      }
    }
  }

  ////////////////////////////CONTACT
  .contactCont {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 auto;
    h1 {
      margin: 0;
      top: 200%;
      font-size: 105px;
    }
    .contL {
      padding: 0;
      margin: 0 0 0 25%;
      h2 {
        margin-left: 8%;
        font-size: 40px;
      }
    }
    .contR {
      margin: 0;
      img {
        width: 30px;
      }
      .social {
        margin: 5% 0 0 25%;
        .soc {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 428px) {
  ////////////////////////////ABOUT ME

  .navigation {
    .gitHub {
      position: absolute;
      top: 20%;
      right: -4%;
      img {
        width: 20px;
      }
    }
    h3 {
      font-size: 20px;
      margin-left: -30px;
    }
    nav {
      position: absolute;
      top: 5px;
      margin-left: 30px;
      li a {
        font-size: 13px;
        margin: 0 10px;
      }
    }
  }

  .content {
    width: 100vw;
    padding-top: 30%;
    display: grid;
    grid-template-columns: 1fr;

    img {
      margin-left: -10px;
      width: 300px;
      object-fit: contain;
      margin-top: -60px;
    }
    h2 {
      font-size: 70px;
      top: 3%;
      left: 3%;
    }
    .boxL {
      width: 400px;
      padding-right: 30px;
      p {
        margin-left: -10px;
      }
      h1 {
        font-size: 26px;
        strong {
          font-size: 30px;
        }
      }
    }
  }

  ////////////////////////////MY WORK
  .workCont {
    min-height: 1800px;

    h2 {
      left: 8%;
      font-size: 70px;
      width: 80%;
    }
    .project {
      padding-top: 180px;
      text-align: center;
      width: 100%;
      margin: auto;
      grid-template-columns: repeat(1, 1fr);
      padding-top: 170px;

      img {
        width: 350px;
        object-fit: contain;
      }
    }
  }

  ////////////////////////////CONTACT
  .contactCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    h1 {
      top: 312%;
      width: 90vw;
      font-size: 57px;
    }
    .contL {
      padding: 0;
      margin: 0 20px;
      margin-left: 10%;
      max-width: 100vw;
      h2 {
        margin-left: 20%;
        font-size: 30px;
      }
      form {
        width: 350px;
        input {
          width: 350px;
        }
        button {
          width: 350px;
        }
        textarea {
          width: 350px;
        }
      }
    }
    .contR {
      margin: 0;
      img {
        width: 20px;
      }
      .social {
        margin: 5% 0 0 20%;
        display: flex;
        align-items: flex-start;

        .soc {
          p {
            margin-left: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  ////////////////////////////ABOUT ME

  .navigation {
    .gitHub {
      position: absolute;
      top: 20%;
      right: -7%;
      img {
        width: 20px;
      }
    }
    h3 {
      font-size: 20px;
      margin-left: -30px;
    }
    nav {
      position: absolute;
      top: 5px;
      margin-left: 0px;
      li a {
        font-size: 13px;
        margin: 0 10px;
      }
    }
  }

  .content {
    width: 100vw;
    padding-top: 30%;
    display: grid;
    grid-template-columns: 1fr;

    img {
      margin-left: -10px;
      width: 300px;
      object-fit: contain;
      margin-top: -100px;
    }
    h2 {
      font-size: 70px;
      top: 3%;
      left: 3%;
    }
    .boxL {
      width: 330px;
      padding-right: 30px;
      p {
        margin-left: -10px;
      }
      h1 {
        font-size: 22px;
        strong {
          font-size: 30px;
        }
      }
    }
  }

  ////////////////////////////MY WORK
  .workCont {
    min-height: 1400px;

    h2 {
      left: 8%;
      font-size: 70px;
      width: 80%;
    }
    .project {
      padding-top: 180px;
      text-align: center;
      width: 100%;
      margin: auto;
      grid-template-columns: repeat(1, 1fr);
      padding-top: 170px;

      img {
        width: 250px;
        max-height: 340px;
        object-fit: contain;
      }
    }
  }

  ////////////////////////////CONTACT
  .contactCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    h1 {
      top: 280%;
      width: 90vw;
      font-size: 45px;
    }
    .contL {
      padding: 0;
      margin: 0 20px;
      margin-left: 10%;
      max-width: 100vw;
      h2 {
        margin-left: 15%;
        font-size: 30px;
      }
      form {
        margin-left: 0px;
        width: 340px;
        input {
          width: 300px;
        }
        button {
          width: 300px;
        }
        textarea {
          width: 300px;
        }
      }
    }
    .contR {
      margin: 0;
      img {
        width: 20px;
      }
      .social {
        margin: 5% 0 0 10%;
        display: flex;
        align-items: flex-start;

        .soc {
          p {
            margin-left: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
