* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(51, 48, 48);

  h3 {
    font-size: 40px;
    a {
      font-family: "Open Sans Condensed", sans-serif;
      letter-spacing: 3px;
      color: #ffffff;
      text-decoration: none;
      transition: 1s;
      &:hover {
        opacity: 0.8;
        color: #2dd690;
        cursor: pointer;
      }
    }
  }
  .navigation {
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-duration: 7s;
    animation-name: opacity;
    img {
      margin-left: 40px;
      width: 30px;
      transition: 0.3s;

      &:hover {
        opacity: 0.7;
        width: 31px;
      }
    }
    ul {
      display: flex;
      list-style: none;
      a {
        font-family: "Montserrat", sans-serif;
        margin-left: 40px;
        font-size: 20px;
        color: #ffffff;
        position: relative;
        text-decoration: none;
        letter-spacing: 1.1px;
        &:hover {
          opacity: 0.6;
        }
        &::after {
          content: "";
          width: 0%;
          height: 2px;
          background: #2dd690;
          position: absolute;
          bottom: -20%;
          left: 0%;
          border-radius: 10px;
          transition: all 0.7s;
        }
        &:hover::after {
          left: 0%;
          width: 100%;
        }
      }
    }
  }
}

////////////////////////////////////////////////////CONTENT
.content {
  padding: 15% 10% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: rgb(51, 48, 48);
  h2 {
    color: #dadada;
    position: absolute;
    top: 25%;
    left: 2%;
    opacity: 0.1;
    font-size: 135px;
    letter-spacing: 15px;
    animation-duration: 2.5s;
    animation-name: slideinL;
  }
  .boxL {
    max-width: 650px;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      color: #cac9c9;
      font-weight: lighter;
      margin-bottom: 40px;
      letter-spacing: 10px;
      animation-duration: 3s;
      animation-name: slideinL;
      strong {
        color: #2dd690;
        font-family: "Oswald", sans-serif;
        font-size: 50px;
      }
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      color: #cac9c9;
      animation-duration: 3.5s;
      animation-name: slideinL;
    }
  }
  img {
    width: 400px;
    margin-left: 100px;
    opacity: 0.6;
    animation-duration: 3.5s;
    animation-name: slideinR;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideinL {
  from {
    margin-left: 100%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideinR {
  from {
    margin-left: -100%;
    width: 100px;

    opacity: 0;
  }

  to {
    width: 450px;
  }
}

////////////////////////////////////////////////////MY WORK
.workCont {
  min-height: 100vh;

  background: linear-gradient(
    177deg,
    rgb(201, 201, 201) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  h2 {
    width: fit-content;
    color: #252525;
    position: absolute;
    z-index: 0;
    top: 107%;
    left: 25%;
    opacity: 0.3;
    font-size: 135px;
    letter-spacing: 15px;
  }
  .project {
    padding-top: 5%;
    height: 400px;
    z-index: 1;
    width: 80%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    h4 {
      font-size: 40px;
      font-family: "Oswald", sans-serif;
      color: rgb(51, 48, 48);
      margin: 25px 0;
    }
    img {
      width: 350px;
      height: 250px;
      transition: 0.5s;
      overflow: hidden;

      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }
}

//MEDIA QUERY
@media only screen and (max-width: 1240px) {
  ////////////////////////////ABOUT ME
  .content {
    padding-top: 27%;
    img {
      margin: 14px 0 0 0;
      width: 350px;
    }
    h2 {
      top: 20%;
      left: 8%;
    }
    .boxL {
      width: 500px;
      h1 {
        font-size: 30px;
        strong {
          font-size: 30px;
        }
      }
    }
  }

  ////////////////////////////MY WORK
  .workCont {
    h2 {
      left: 8%;
    }
    .project {
      padding-top: 50px;
      text-align: center;
      h4 {
        font-size: 30px;
      }
      img {
        width: 250px;
      }
    }
  }

  @keyframes slideinR {
    from {
      margin-left: -100%;
      width: 100px;

      opacity: 0;
    }

    to {
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 768px) {
  ////////////////////////////ABOUT ME
  .content {
    padding-top: 20%;
    display: grid;
    grid-template-columns: 1fr;

    img {
      margin: auto;
      width: 400px;
    }
    h2 {
      font-size: 100px;
      top: 7%;
      left: 8%;
    }
    .boxL {
      width: 500px;
      h1 {
        font-size: 30px;
        strong {
          font-size: 30px;
        }
      }
    }
  }

  ////////////////////////////MY WORK
  .workCont {
    h2 {
      left: 8%;
      font-size: 105px;
    }
    .project {
      text-align: center;
      grid-template-columns: repeat(2, 1fr);
      img {
        width: 270px;
        max-height: 200px;
      }
    }
  }

  @media only screen and (max-width: 428px) {
    ////////////////////////////ABOUT ME

    .navigation {
      .gitHub {
        position: absolute;
        top: 20%;
        right: -4%;
        img {
          width: 20px;
        }
      }
      h3 {
        font-size: 20px;
        margin-left: -30px;
      }
      nav {
        position: absolute;
        top: 5px;
        margin-left: 30px;
        li a {
          font-size: 13px;
          margin: 0 10px;
        }
      }
    }

    .content {
      width: 100vw;
      padding-top: 30%;
      display: grid;
      grid-template-columns: 1fr;

      img {
        margin-left: -10px;
        width: 300px;
        object-fit: contain;
        margin-top: -60px;
      }
      h2 {
        font-size: 70px;
        top: 3%;
        left: 3%;
      }
      .boxL {
        width: 400px;
        padding-right: 30px;
        p {
          margin-left: -10px;
        }
        h1 {
          font-size: 26px;
          strong {
            font-size: 30px;
          }
        }
      }
    }

    ////////////////////////////MY WORK
    .workCont {
      min-height: 1800px;

      h2 {
        left: 8%;
        font-size: 70px;
        width: 80%;
      }
      .project {
        text-align: center;
        width: 100%;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 170px;

        img {
          width: 350px;
          object-fit: contain;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  ////////////////////////////ABOUT ME

  .navigation {
    .gitHub {
      position: absolute;
      top: 20%;
      right: -7%;
      img {
        width: 20px;
      }
    }
    h3 {
      font-size: 20px;
      margin-left: -30px;
    }
    nav {
      position: absolute;
      top: 5px;
      margin-left: 0px;
      li a {
        font-size: 13px;
        margin: 0 10px;
      }
    }
  }

  .content {
    width: 100vw;
    padding-top: 30%;
    display: grid;
    grid-template-columns: 1fr;

    img {
      margin-left: -10px;
      width: 300px;
      object-fit: contain;
      margin-top: -10px;
    }
    h2 {
      font-size: 70px;
      top: 3%;
      left: 3%;
    }
    .boxL {
      width: 330px;
      padding-right: 30px;
      p {
        margin-left: -10px;
      }
      h1 {
        font-size: 22px;
        strong {
          font-size: 30px;
        }
      }
    }
  }

  ////////////////////////////MY WORK
  .workCont {
    min-height: 1600px;

    h2 {
      left: 8%;
      font-size: 70px;
      width: 80%;
    }
    .project {
      text-align: center;
      width: 100%;
      margin: auto;
      grid-template-columns: repeat(1, 1fr);
      padding-top: 170px;

      img {
        width: 320px;
        max-height: 340px;
        object-fit: contain;
      }
    }
  }
}
